/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
*~
/spazzer.db*
/resources/public/javascripts/cljspazzer
.DS_Store
/resources/public/lib/
/resources/public/css/styles.css
/node_modules/
/log/
/supervisord.conf
/.repl*
/out/
.sass-cache/
.images/
css
