@-moz-keyframes bg-trans
  0%
    background: $bg-4
  25%
    background: $bg-3
  50%
    background: $bg-2
  75%
    background: $bg-1
  100%
    background: $bg-4

@-webkit-keyframes bg-trans
  0%
    background: $bg-4
  25%
    background: $bg-3
  50%
    background: $bg-2
  75%
    background: $bg-1
  100%
    background: $bg-4

@keyframes bg-trans
  0%
    background: $bg-4
  25%
    background: $bg-3
  50%
    background: $bg-2
  75%
    background: $bg-1
  100%
    background: $bg-4
