.button
  background: $btn-bg
  box-sizing: border-box
  height: 2em
  border-radius: 1em
  display: inline-block
  line-height: 2em
  padding: 0 1em
  color: $font-color
  transition: background .3s
  &.subtle
    background: none
  &:hover 
    color: $font-color
    background: lighten($btn-bg, 15)
  i
    padding-right: .5em
    line-height: 2em
    &:last-child
      padding-right: 0

input
  + .button
    border-radius: 0 1em 1em 0

ul
  &.toggle
    margin-top: 0
    li
      display: inline-block
      padding: 0 .5em
      height: 40px
      line-height: 40px
      text-align: center
      text-transform: capitalize
      color: transparentize($font-color, .5)
      width: 50%
      box-sizing: border-box
      background: $background
      transition: background .3s
      &:hover
        cursor: pointer
        background: lighten($btn-bg, 15)
        color: $font-color
      &.active
        background: $highlight
        color: $font-color
