a
  color: transparentize($font-color, .5)
  text-decoration: none
  transition: color .3s
  &:hover
    color: $font-color

.main-nav
  position: fixed
  height: 100%
  width: 50px
  background: darken($background, 10)
  z-index: 10
  i
    display: block
    text-align: center
    font-size: 2em
    padding: .75em 0
    color: transparentize($btn-bg, .5)
    transition: color .3s
    border-top: solid 1px $background
    border-bottom: solid 2px darken($background, 15)
    &:first-of-type
      border-top: none
    &:last-of-type
      border-bottom: none
    &:hover
      color: $btn-bg
      cursor: pointer
      &.active
        color: $highlight
    &.active
      color: $highlight

.collection-nav
  width: 250px
  box-sizing: border-box
  position: fixed
  height: 100%
  margin-left: 50px
  padding: 1em
  background: transparentize(darken($background, 5), .1)
  letter-spacing: 1
  h3
    color: white
  ul
    li
      padding: 0
      margin: 0 4px 4px 0
      -webkit-touch-callout: none
      -webkit-user-select: none
      -khtml-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none
      &:nth-of-type(4n)
        margin-right: 0
      a
        background: transparentize($btn-bg, .5)
        transition: background .3s
        display: block
        text-align: center
        width: 51.5px
        height: 47.5px
        line-height: 47.5px
        text-decoration: none
        color: white
        text-transform: uppercase
        &:hover
          background: lighten($btn-bg, 10)
        &:focus, &.active
          background: $highlight

.album-list, .album-detail
  h3
    a
      margin-right: .75em



