body
  background: $background
  color: $font-color
  position: relative
  margin: 0

.left-column
  width: 250px
  box-sizing: border-box
  position: fixed
  height: calc(100% - 2em)
  margin-left: 50px
  padding: 0 0 1em
  top: 2em
  border-right: solid 1px darken($background, 5)
  background: transparentize(darken($background, 5), .1)
  overflow-y: auto

.middle-column
  margin-left: 300px
  box-sizing: border-box
  .content
    padding: 5em 1em 1em

.content
  padding: 2em 1em 1em
  margin-left: 50px


.no-select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.track-row
  color: $font-color
  line-height: 1.5
  font-size: .85em
  @extend .no-select
  &:hover
    background: darken($background, 5)
    cursor: pointer
    a, p
      color: $font-color
  a, p
    color: transparentize($font-color, .25)
    text-decoration: none
    padding: .25em .5em
    margin: 0
    width: 100%
    display: block
    box-sizing: border-box
  &.active
    background: rgba(12,159,232,.25)
    a, p
      color: $font-color

.playlist
  li
    @extend .track-row
    p
      width: 100%
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
    &:hover:not(.active)
      background: $background
    span
      display: none
    &.active
      span
        @extend label.caption
        font-size: 13px
        margin-bottom: 0
        margin-top: -1em        

ul
  padding: 0
  list-style-type: none
  &.tracks
    margin: 0 0 0 calc(400px + 1em)

.left
  float: left

.right
  float: right

.clear
  clear: both

.artist-detail
  li
    display: inline-block
    position: relative
    width: 150px
    margin: 0 1em 1em 0
    box-sizing: border-box
    &:hover
      i
        opacity: .6
      img
        filter: grayscale(0)
        -webkit-filter: grayscale(0)
        -moz-filter: grayscale(0)
    &.active
      border: solid 1px $highlight
    img
      width: 100%
      object-fit: cover
      height: auto
      min-height: 150px
      filter: grayscale(75%)
      -webkit-filter: grayscale(75%)
      -moz-filter: grayscale(75%)
    a
      text-decoration: none
      position: relative
      clear: both
      overflow: hidden
      display: block
      color: #3f3f3f
      &:hover, &:focus
        i
          opacity: 1
        img
          filter: grayscale(0)
          -webkit-filter: grayscale(0)
          -moz-filter: grayscale(0)
    span
      color: $font-color
      position: relative
      left: 0
      display: block
      font-size: .75em
      text-overflow: ellipsis
      overflow: hidden
      white-space: nowrap
      &:hover
        cursor: default
      &:first-of-type
        padding: .5em 0 0
      &:last-of-type
        opacity: .5
    i
      opacity: 0
      transition: opacity .3s
      text-shadow: 0 0 3px $background

.artist-list
  @extend .artist-detail
  ul
    margin-bottom: 0
  li
    display: inline-flex
    transition: box-shadow .3s
    &:hover
      box-shadow: 0 0 10px darken($background, 10)
    a
      padding: .5em
      background: lighten($background, 10)
      transition: background .3s, color .3s, text-shadow .3s
      display: block
      width: 100%
      height: 2.5em
      line-height: 1.2
      color: $font-color
      &:hover, &:focus
        cursor: pointer
        background: lighten($btn-bg, 10)
        color: lighten($font-color, 10)
        text-shadow: 0 0 10px $background
        div
          left: 10%
    div
      display: initial
      position: relative
      left: 0
      transition: left .3s

.album-actions
  position: absolute
  left: 0
  top: 0
  width: 100%
  a
    overflow: visible !important
  i
    color: $font-color
    position: absolute
    padding: .5em
    &:hover, &:focus
      opacity: 1 !important
      cursor: pointer
    &.fa-download
      left: 0
      top: 0
    &.fa-plus-circle
      top: 0
      right: 0
    &.fa-play-circle
      font-size: 2.5em
      padding: 0
      left: 75px
      top: 75px
      margin-left: -17px
      margin-top: -19px
    &.fa-search
      top: 111px
      left: 0


*:focus
  outline: 0 none !important
