body
  background: $background
  color: $font-color
  position: relative

.left-column
  width: 250px
  box-sizing: border-box
  position: fixed
  height: calc(100% - 2em)
  margin-left: 50px
  padding: 1em
  top: 2em
  background: transparentize(darken($background, 5), .1)
  overflow-y: auto

.middle-column
  padding: 3em 1em 1em

.right-column
  height: calc(100% - 2em)
  box-sizing: border-box
  padding: 2.2em 0 1em
  background: transparentize(darken($background, 5), .5)
  overflow-y: auto
  position: absolute
  top: 2em
  h1, h2, p
    padding: .5em 10px

ul
  padding: 0

.left
  float: left

.right
  float: right

.clear
  clear: both

.artist-detail
  margin-top: 2em
  li
    display: inline-block
    position: relative
    width: 200px
    margin: 0 1em 1em 0
    &:hover
      span
        background: transparentize($background, .2)
      i
        opacity: 1
      img
        filter: grayscale(0)
        -webkit-filter: grayscale(0)
        -moz-filter: grayscale(0)
    img
      width: 100%
      height: auto
      filter: grayscale(75%)
      -webkit-filter: grayscale(75%)
      -moz-filter: grayscale(75%)
    a
      text-decoration: none
      position: relative
      clear: both
      overflow: hidden
      display: block
      color: #3f3f3f
      &.download
        position: absolute
        top: 0
        left: 0
        overflow: visible
      span
        background: transparentize($background, .4)
        transition: background .3s
        color: white
        position: absolute
        left: 0
        bottom: -1px
        padding: .5em
        display: block
        width: 95%
    i
      padding: .5em
      color: white
      opacity: 0
      transition: opacity .3s

.artist-list
  @extend .artist-detail
  ul
    margin-bottom: 0
  li
    display: inline-flex
    transition: box-shadow .3s
    &:hover
      cursor: pointer
      box-shadow: 0 0 10px darken($background, 10)
      a
        background: $highlight
        color: lighten($font-color, 10)
        text-shadow: 0 0 10px $background
      div
        left: 10%
    a
      padding: .5em
      background: lighten($background, 10)
      transition: background .3s, color .3s, text-shadow .3s
      display: block
      width: 100%
      height: 2.5em
      line-height: 1.2
      color: $font-color
    div
      display: initial
      position: relative
      left: 0
      transition: left .3s

.tracks
  list-style-type: none
  margin: 0 0 0 calc(400px + 1em)
  li
    color: $font-color
    line-height: 1.5
    &:hover
      background: darken($background, 5)
      cursor: pointer
      a
        color: $font-color
    a
      color: transparentize($font-color, .25)
      text-decoration: none
      padding: .25em .5em
      width: 100%
      display: block
      box-sizing: border-box

*:focus
  outline: 0 none !important

.content
  margin-left: 300px
  box-sizing: border-box
