body
  background: $background
  color: $font-color
  position: relative
  margin: 0
  // animation: bg-trans 30s infinite
  // -moz-animation: bg-trans 30s infinite
  // -webkit-animation: bg-trans 30s infinite

.left-column
  width: 250px
  box-sizing: border-box
  position: fixed
  height: calc(100% - 2em)
  margin-left: 50px
  padding: 0 0 1em
  top: 2em
  border-right: solid 1px darken($background, 5)
  background: transparentize(darken($background, 5), .1)
  overflow-y: auto

.middle-column
  margin-left: 300px
  box-sizing: border-box

.content
  padding: 5em 1em 1em

.no-select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.track-row
  color: $font-color
  line-height: 1.5
  font-size: .85em
  &:nth-of-type(even)
    background: transparentize($white, .92)
  @extend .no-select
  &:hover
    background: darken($background, 5)
    cursor: pointer
    a, p
      color: $font-color
  a, p
    color: transparentize($font-color, .25)
    text-decoration: none
    padding: .5em .5em
    margin: 0
    width: 100%
    display: block
    box-sizing: border-box
  &.active
    background: $highlight
    a, p
      color: $font-color

.playlist
  li
    @extend .track-row
    position: relative
    overflow: hidden
    &:hover:not(.active), &:focus
      background: $background
    p
      width: 100%
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
    span
      @extend label.caption
      font-size: 13px
      margin-bottom: 0
      margin-top: -1em

ul
  padding: 0
  list-style-type: none
  &.tracks
    margin: 0 0 0 calc(400px + 1em)

.left
  float: left

.right
  float: right

.clear
  clear: both

.artist-detail
  li
    display: inline-block
    position: relative
    width: $image-med
    margin: 0 1em 1em 0
    box-sizing: border-box
    &:hover
      img
        filter: grayscale(0)
        -webkit-filter: grayscale(0)
        -moz-filter: grayscale(0)
    &.active
      border: solid 1px $highlight
    img
      width: 100%
      object-fit: cover
      height: auto
      min-height: $image-med
      filter: grayscale(75%)
      -webkit-filter: grayscale(75%)
      -moz-filter: grayscale(75%)
    a
      text-decoration: none
      clear: both
      overflow: hidden
      display: block
      color: #3f3f3f
      &:hover, &:focus
        .album-actions
          i
            opacity: .5
        img
          filter: grayscale(0)
          -webkit-filter: grayscale(0)
          -moz-filter: grayscale(0)
    span
      color: $font-color
      position: relative
      left: 0
      display: block
      font-size: .75em
      text-overflow: ellipsis
      overflow: hidden
      white-space: nowrap
      &:hover
        cursor: default
      &:first-of-type
        padding: .5em 0 0
      &:last-of-type
        opacity: .5

.play-container
  position: absolute
  top: 0
  width: 100%

.album-actions
  position: absolute
  bottom: 2.2em
  width: 100%
  i
    opacity: 0
    transition: opacity .3s
    text-shadow: 0 0 3px $black
    color: $white
    position: absolute
    padding: .5em
    &:hover, &:focus
      cursor: pointer
    &.fa-download
      left: 0
      bottom: 0
    &.fa-plus-circle
      bottom: 0
      right: 0

.album-detail
  .info
    max-width: 100%
    position: relative
    overflow: hidden
    img
      width: $image-med
      padding-right: 1em
      float: left
    .specifics
      width: calc(100% - (#{$image-med} + 1em))
      float: left
    .play-band
      width: $image-med
      max-width: 50%
  ul.tracks
    clear: both
    margin: 1em 0 0 0
    width: 100%
  li
    &:hover
      .play-band
        opacity: 1
      .album-actions
        i
          opacity: 1

.artist-list
  @extend .artist-detail
  ul
    margin-bottom: 0
  li
    display: inline-flex
    transition: box-shadow .3s
    &:hover
      box-shadow: 0 0 10px darken($background, 10)
    a
      padding: .5em
      background: lighten($background, 10)
      transition: background .3s, color .3s, text-shadow .3s
      display: block
      width: 100%
      height: 2.5em
      line-height: 1.2
      color: $font-color
      &:hover, &:focus
        cursor: pointer
        background: lighten($btn-bg, 10)
        color: lighten($font-color, 10)
        text-shadow: 0 0 10px $background
        div
          left: 10%
    div
      display: initial
      position: relative
      left: 0
      transition: left .3s

.album-container
  position: absolute
  width: 100%
  top: 0
  a
    overflow: visible !important

*:focus
  outline: 0 none !important
