*
  letter-spacing: normal
  font-family: $main-font

h1, h2, h3
  text-transform: capitalize
  font-weight: normal
  margin: 0 0 1em

h1
  font-size: 2.5em

h2
  font-size: 1.5em

.info
  h2
    margin-bottom: 0
  h3
    margin-bottom: .5em
