<div>
    <ul class="artist-nav">
	<li class="artist-index">
	    <a href="#">X</a>
	</li>
    </ul>
</div>
<div>
    <ul class="artist-list">
        <li class="artist-item"> <i class="fa fa-headphones"></i> &nbsp; <a href="#/artists/converge">Converge</a></li>
    </ul>
</div>
<div class="album-list">
    <ul class="album-content">
	<h1 class="artist-heading">Artist's Albums</h1>
        <li class="album-item">
	    <h2 class="album-heading">Album Name from 2002</h2>
	    <ul class="track-list">
		<li class="track-item">
		    <span class="name">01. some amazing track </span>
		</li>
	    </ul>
	</li>
    </ul>
</div>
